<section id="settings">
    <header>
        <button ng-click="$ctrl.goBack()" class="close-btn">
            <i class="close-icon"></i>
        </button>
        <span>settings</span>
    </header>

    <main>
        <ul>
            <li>
                <div class="user-header">
                    <div class="user-pic">
                        <img src="../../../img/Joe88.png" alt="user pic">
                    </div>
                    <div class="user-name">
                        <div class="input-label-group">
                            <span>First Name</span><input type="text">
                        </div>
                        <div class="input-label-group">
                            <span>First Name</span><input type="text">
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="setting-row">
                    <div class="item-group">
                        <i class="icon email-icon"></i>
                        <span>Email</span>
                        <input type="text"></div>
                </div>
            </li>
            <li>
                <div class="setting-row">
                    <div class="item-group">
                        <i class="icon calendar-icon"></i>
                        <span>birthday</span>
                        <input type="text"></div>
                </div>
            </li>
            <li>
                <div class="setting-row">
                    <div class="item-group">
                        <i class="icon anniversary-icon"></i>
                        <span>anniversary</span>
                        <input type="text"></div>
                </div>
            </li>
            <li>
                <div class="setting-row">
                    <div class="item-group">
                        <i class="icon key-icon"></i>
                        <span>change password</span>
                    </div>
                </div>
            </li>
        </ul>

        <ul id="posts">
            <li>
                <div class="setting-row">
                    <div class="item-group">
                        <i class="icon partner-posts-icon"></i>
                        <span>posts from partner</span>
                        <i class="svg-phone-gray">
                            <svg enable-background="new 0 0 38 68" height="68px" id="Layer_1" version="1.1" viewBox="0 0 38 68" width="38px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M34,0H4C1.791,0,0,1.791,0,4v60c0,2.209,1.791,4,4,4h30c2.209,0,4-1.791,4-4V4C38,1.791,36.209,0,34,0z   M12,3h14c0.276,0,0.5,0.224,0.5,0.5S26.276,4,26,4H12c-0.276,0-0.5-0.224-0.5-0.5S11.724,3,12,3z M19,65c-1.104,0-2-0.896-2-2  s0.896-2,2-2s2,0.896,2,2S20.104,65,19,65z M35,59H3V6h32V59z" fill="#231F20"/></svg>
                        </i>
                        <i class="icon email-icon"></i>
                    </div>
                </div>
            </li>
            <li>
                <div class="setting-row">
                    <div class="item-group">
                        <i class="icon friends-posts-icon"></i>
                        <span>posts from friends</span>
                        <i class="svg-phone-red">
                            <svg enable-background="new 0 0 38 68" height="68px" id="Layer_1" version="1.1" viewBox="0 0 38 68" width="38px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M34,0H4C1.791,0,0,1.791,0,4v60c0,2.209,1.791,4,4,4h30c2.209,0,4-1.791,4-4V4C38,1.791,36.209,0,34,0z   M12,3h14c0.276,0,0.5,0.224,0.5,0.5S26.276,4,26,4H12c-0.276,0-0.5-0.224-0.5-0.5S11.724,3,12,3z M19,65c-1.104,0-2-0.896-2-2  s0.896-2,2-2s2,0.896,2,2S20.104,65,19,65z M35,59H3V6h32V59z" fill="#231F20"/></svg>
                        </i>
                        <i class="icon email-icon-red"></i>
                    </div>
                </div>
            </li>
        </ul>

        <ul id="social">
            <li>
                <div class="setting-row">
                    <div class="item-group">
                        <i class="icon friends"></i>
                        <span>friends suggestions</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="setting-row">
                    <div class="item-group">
                        <i class="icon fb-icon"></i>
                        <span>share to facebook</span>
                    </div>
                </div>
            </li>
        </ul>
    </main>
    <button class="logout-btn">logout</button>
</section>