@import "utility";
html,
body{
  @extend .full-height;
  font-size: 62.5%;
}
body{
  padding: 0;
  margin: 0;
  background-color: $bg;
  font-family: $font;
  font-weight: 400;
  color: #333333;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

h1{
  font-size: 3.2rem;
}

#app-content{
  @extend .flex-col;
  @extend .full-height;
}

.container{
  max-width: $container;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  //overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}